{
	"useTabs": true,
	"trailingComma": "none",
	"arrowParens": "always",
	"bracketSpacing": true,

	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"singleQuote": false,

	"quoteProps": "as-needed",

	"printWidth": 120,
	"tabWidth": 2,
	"plugins": ["prettier-plugin-svelte"],

	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
